@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --primary: #ff27ad;
  --primary-dark: #f1129c;
  --secondary: #0099a8;
  --secondary-dark: #138a96;

  /* text-colors */
  --coal: #2a2a48;
  --coal-light: #2a2a4899;
  --graphene: #485363;
  --gray: #8493a8;
  --smoke: #ececec80;
  --white: #fff;
  --overlay-dark: #000000cc;
  --overlay-light: #ffffff33;

  /* background-colors */
  --neutral: #ffffff;
  --dark-gray: #505357;
  --darker-gray: #4b4b4b;
  --titan-white: #f2f0ff;
  --titan-gradient: linear-gradient(
      87.81deg,
      #f2f0ff 35.04%,
      rgba(255, 255, 255, 0.67) 53.63%,
      rgba(252, 252, 255, 0.96) 64.78%,
      #f2f0ff 90.91%
    ),
    linear-gradient(0deg, #f2f0ff, #f2f0ff);

  --teal-gradient: linear-gradient(
      88.28deg,
      rgba(16, 160, 174, 0.3) 14.56%,
      rgba(98, 214, 225, 0.3) 56.19%,
      rgba(21, 166, 181, 0.3) 98.69%
    ),
    linear-gradient(0deg, rgba(19, 138, 150, 0.3), rgba(19, 138, 150, 0.3));

  /* heights */
  --height-sm: 40px;
  --height-md: 42px;
  --height-lg: 48px;
  --height-xl: 72px;

  /* radius */
  --radius-sm: 4px;
  --radius-md: 6px;
  --radius-lg: 32px;
  --radius-xl: 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  letter-spacing: 0;
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus,
button:focus {
  outline: none;
}

button {
  all: unset;
  display: inline-block;
  cursor: pointer;
  box-sizing: inherit;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: 0.3s all ease-in-out;
}

body {
  background: var(--white);
  color: var(--coal);
}

/* Global Classes */
.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.center {
  justify-content: center;
  align-items: center;
}

.flex-between {
  justify-content: space-between;
}

.flex-end {
  justify-content: end;
}

.grow {
  flex: 1;
}

.w-full {
  width: 100%;
}

/* Gaps */
.gap-8 {
  gap: 8px;
}
.gap-12 {
  gap: 12px;
}
.gap-16 {
  gap: 16px;
}
.gap-20 {
  gap: 20px;
}
.gap-32 {
  gap: 32px;
}
.gap-40 {
  gap: 40px;
}

/* Divider */
.divider-vertical {
  width: 24px;
  height: 0.5px;
  transform: rotate(90deg);
  background: var(--smoke);
}

/* Global States */
.disabled {
  cursor: default;
  pointer-events: none;
}

/* Buttons */
.btn-primary {
  border-radius: var(--radius-sm);
  padding: 8px 16px;
  background: var(--primary);
  color: var(--white);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
}

.btn-primary:hover {
  background: var(--primary-dark);
}

.btn-sc {
  border-radius: var(--radius-sm);
  padding: 8px 16px;
  background: var(--secondary);
  color: var(--white);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
}

.btn-sc:hover {
  background: var(--secondary-dark);
}

/* Text Styling */
.heading-xl {
  font-family: Rubik;
  font-weight: 700;
  font-size: 48px;
  line-height: 46px;
}

.heading-lg {
  font-family: Rubik;
  font-weight: 700;
  font-size: 34px;
  line-height: 38px;
}

.heading-md {
  font-family: Roboto;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
}

.text-sm {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
}

/* Section Containers */
.wide-container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin: 0 auto;
}
